nav {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
  
      li {
        margin: 0px -7px 0 0;
        display: inline-block;
        background-color: #FFFFFF;
      }
    }
  
    a {
      display: block;
      padding: 15px 0px;
      color: #4F4F4F;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      text-decoration: none;
    }
  }
  
.list-box li a {
    padding-left: 3px;
  }
  
  nav {
    div li a:hover {
      background-color: #3FCF5E;
      border-radius: 15px;
    }
  
    ul {
      ul {
        display: none;
        position: absolute;
      top: 100%;
    }

    li:hover > ul {
      display: block;
    }

    ul li {
      width: 210px;
      display: list-item;
      position: relative;
    }
  }
}

.account-info {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;

    li {
      margin: 0;
      display: inline-block;
      background-color: #FFFFFF;
    }
  }

  a {
    display: block;
    padding: 15px 0px;
    color: #4F4F4F;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
  }

  div a:hover {
    background-color: #3FCF5E;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
  }

  ul {
    ul {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
    }

    li:hover > ul {
      display: block;
    }

    ul li {
      width: 244px;
      text-align: center;
      display: list-item;
      position: relative;
      border: 1px solid #BDBDBD;
      border-radius: 10px;
    }
  }
}

.account-wrapper li:first-child {
  margin-bottom: 15px;
}

.list-wrapper {
  display: block;
  padding: 21px 52px 34px 25px;
  background-color: #FFFFFF;
  box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  z-index: 2;
  position: relative;
}

.list-box {
  padding-top: 25px;
}

.account-wrapper {
  display: block;
  padding: 25px 20px 35px;
  background-color: #FFFFFF;
  box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  z-index: 2;
}

.account-box {
  padding-top: 30px;
}