* {
  box-sizing: border-box;
}

.wrapper {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: 'Gilroy', sans-serif;
}

main {
  background-color: #f9f9f9;
  padding-top: 75px;
  padding-bottom: 100px;
}

h2, h3 {
  margin: 0;
}

.hidden-title {
  display: none;
}